.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.sidebar {
  --cui-sidebar-bg: linear-gradient(#0073B9,#015c95,#001725);
}


.botones-azules {
  display: inline-block;
  padding: 10px 20px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  background-color: #0073B9;
  border-radius: 5px;
}
.botones-rojos {
  display: inline-block;
  padding: 10px 20px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  background-color: #b90000;
  border-radius: 5px;
}
.containerinput {
  margin-top: 10px; /* Ajusta el margen superior según tu diseño */
}

.inputBuscador:focus{
background-color: transparentize($color: #ffffffb3, $amount: 0);
}

.input-group {
  width: 300px; /* Ajusta el ancho del buscador según tu preferencia */
}

.icon-container {
  position: absolute;
  right: 10px; /* Posición del icono a la derecha */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


.pagination{
  --cui-pagination-color: black;
  --cui-pagination-active-bg: #0073B9;
  --cui-pagination-active-border-color: #0073B9;
}

.estado-activo {
  color: green; 
  font-weight: bold;
}

.estado-inactivo {
  color: red;
  font-weight: bold;
}