.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding .15s);
}

// Color del menu
.sidebar {
  --cui-sidebar-bg: linear-gradient(#0073B9,#015c95,#001725);
}


.botones-azules {
  display: inline-block;
  padding: 10px 20px;
  font-size: 11px;
  text-transform: uppercase;
  color: #fff;
  background-color: #0073B9;
  border-radius: 5px;
}