* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.divPrincipal {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004c9e;
  box-shadow: inset 31px 31px 62px #0f61b9,
              inset -31px -31px 62px #0095ff;
}

.divPrincipalLogin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004c9e;
  box-shadow: inset 31px 31px 62px #0f61b9,
              inset -31px -31px 62px #0095ff;
}

.text-center{
  
    color: #007bff;
    margin-bottom: 25px;

}

.divSecundarioLogin{
  margin: 45px 38px ;
  padding: 35px;
  box-shadow: 6px 6px 20px black;
  background: #ffffff;
  border-radius: 6px;
  display: flex;
}

.divSecundarioRegister{
  margin: 35px 38px ;
  padding: 35px;
  box-shadow: 0px 0px 25px black;
  background: #ffffff;
  border-radius: 6px;
}

.imageBackground{
  width: 500px;
  height: 500px;
} 

.otp_inputs{
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.otp_input {
  width: 40px;
  height: 40px;
  text-align: center;
  outline: none;
  border-radius: 5px;
  border: 2px solid grey;
  background-color: white;
  color: black;
  font-size: 1.5em;
  margin-bottom: 10px;
  caret-color: blue;
}

.otp_input:focus{
  border: 2px solid blue;
  color: blue;
}




.containerRegister {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: left;
  max-width: 100%;
  margin: 2% auto;
  padding: 7px;
  transition-duration: 0.7s;
}

.textRegistro {
  padding-top: 14px;
  font-size: 24px;
  font-weight: 500;
  color: #000000;
  text-shadow: none;
}

.textLogin {
  padding: 11px;
  font-size: 24px;
  font-weight: 500;
  color: #007bff;
  text-shadow: none;
}






.card-inner {
  margin: 0px 10px;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
  border-radius: 6px;
  transition-duration: 0.4s;

}

.card-inner:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.849);
  transition-duration: 0.4s;

}

@keyframes circleAnimate {
  to {
      transform: translateY(-15px);
  }
}
@keyframes circleAnimate2 {
  to {
      transform: translateY(15px);
  }
}
.inputs {
  padding: 10px;
  margin-top: 10px;
  
}

.input {
  max-width: 275px;
  height: 55px;
  width: 225px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  position: relative;
}

.input:valid {
  border-color: #000;
  color: #000;
}

.input:invalid {
  border-color: #ff0000;
  color: #ff0000;
  box-shadow: 2px 2px 8px 1px #ff0000;
  /* translate: -8px 8px 0px 0px; */
}

.text {
  margin-top: 10px;
  color: black;
}


#btn {
  max-width: 275px;
  height: 55px;
  width: 225px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: none;
  background: #007bff;
  transition: 0.5s ease;
  user-select: none;
}

#btn:hover {
  background: #0665cc;
  color: #ffffff;
}

#btn1 {
  margin: 10px;
  max-width: 275px;
  height: 55px;
  width: 275px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  text-shadow: none;
  background: #007bff;
  transition: 0.5s ease;
  user-select: none;
  margin-top: 40px;
}

#btn1:hover {
  background: #0665cc;
  color: #ffffff;
}


.textLoginAndRegister {
  color: #007bff;
  transition-duration: 0.4s;
  margin-top: 20px
}

.textLoginAndRegister:hover {
  color: #0062ca;
  transition-duration: 0.4s;
}


/* RESPONSIVE */



/* RESPONSIVE */
@media (max-width: 900px) {


  .inputs {
      padding: 10px;
  }

  .input {
      width: 170px;
  }

  

  .cardLogin {
      margin: 6% auto;
      width: 80%;
  }

  .button3 {
      padding: 7px 16px;
  }


}
